// HELPERS

// GRID HELPERS
.section__header {
  padding-bottom: 40px;
  @include media-breakpoint-up(md){
    padding-bottom: 100px;
  }
}

// IMAGES
.drop-shadow {
  filter: drop-shadow(-11px 20px 4px #aaa);
}
.grayscale {
  filter: grayscale(1);
}

.cv {
  max-width: 840px;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  border: 0;
}