$body-max-width: 1600px;

html,
body {
  max-width: $body-max-width;
  height: 100%;
  margin: 0 auto;
}

// adjust for nav link targeting
section {
  padding-top: 70px;
  margin-top: 50px;
  @include media-breakpoint-up(md){
    padding-top: 75px;
    margin-top: 75px;
  }
  @include media-breakpoint-up(xl){
    padding-top: 110px;
    margin-top: 110px;
  }
}
