.pin {
  opacity: 0;
  // pin dot
  &:before {
    content: "";
    background-color: #fff;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 20px;
    top: 50%;
  }
  // pin line
  &:after {
    opacity: .6;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 55%;
    height: 1px;
    width: 15px;
  }
  &__text {
    line-height: 1.5rem;
    font-size: .9rem;
  }
}