// HELPERS

// IMAGE
.drop-shadow {
  filter: drop-shadow(-30px 20px 4px #aaa);
}
.grayscale {
  filter: grayscale(1);
}


.dog {
  z-index: 2;
  width: 50%;
  bottom: 7%;
  right: 0%;
  @include media-breakpoint-up(lg){
    right: -23%;
  }
}
.speech-bubble {
  z-index: 3;
  width: 35%;
  bottom: 5%;
  right: -35%;
  opacity: 0;
  filter: drop-shadow(-3px 3px 1px #000);
  &.animate {
    animation: bubble .7s ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes bubble {
  0% {
    opacity: 1;
    bottom: 5%;
  }
  70% {
    bottom: 36%;
  }
  100% {
    bottom: 35%;
    opacity: 1;
  }
}
