.pin {
  opacity: 0;
  // pin dot
  &:before {
    opacity: .8;
    background-color: #fff;
    content: "";
    display: inline-block;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 25px;
  }
  // pin line
  &:after {
    opacity: .8;
    background-color: #fff;
    content: "";
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 54%;
    height: 1px;
    width: 15px;
  }
}