.hero {
  overflow: hidden;
  padding-bottom: 9%;
  margin-top: 50px;
  .signature {
    position: absolute;
    top: 0%;
    left: 1%;
    &.animate {
      perspective: 100px;
      animation: swing-signature 3s ease-in-out 5s;
    }
  }

  @keyframes swing-signature {
    0% {
      transform-style: preserve-3d;
      transform: rotateX(60);
    }
    20% {
      transform-style: preserve-3d;
      transform: rotateX(-50deg);
    }
    40% {
      transform-style: preserve-3d;
      transform: rotateX(40deg);
    }
    60% {
      transform-style: preserve-3d;
      transform: rotateX(-30deg);
    }
    80% {
      transform-style: preserve-3d;
      transform: rotateX(20deg);
    }
    100% {
      transform-style: preserve-3d;
      transform: rotateX(0deg); 
    }
  }


  .heading {
    top: 23%;
    z-index: 4;
    h3 {
      text-shadow: 1px 1px 1px #585757;
    }
  }
  h1 {
    font-size: 2.5rem;
    @include media-breakpoint-up(md){
      font-size: 5.5vw;
    }
    @include media-breakpoint-up(xl){
      font-size: 4.5rem;
    }
  }
  h3 {
    font-size: 1rem;
    @include media-breakpoint-up(md){
      font-size: 2.5vw;
    }
    @include media-breakpoint-up(xl){
      font-size: 2rem;
    }
  }
  &__left-frame,
  &__right-frame {
    z-index: 2;
  }
  &__left-frame { 
    width: 12%;
    bottom: 12%;
    left: -100%;
    &.animate {
      left: 0;
      transition: all 3s ease-out;
    }
  }
  &__right-frame{
    width: 19%;
    right: -100%;
    bottom: 15%;
    &.animate {
      right: 0;
      transition: all 3s ease-out;
    }
  }
  &__rider {
    width: 23%;
    right: 25%;
    z-index: 3;
    bottom: -100%;
    &.animate {
      bottom: 0;
      transition: all 1.5s ease-out 2.5s;
    }
  }
}
.pin {
  z-index: 4;
  &-3 {
    left: 56%;
    top: 3%;
  }
  &-2 {
    left: 66%;
    top: 10%;
  }
  &-1 {
    left: 63%;
    top: 15%;
  }
}