.hero {
  overflow: hidden;
  padding-bottom: 7%;
  .heading {
    top: 5%;
    @include media-breakpoint-up(md){
      top: 12%;
    }
    @include media-breakpoint-up(lg){
      top: 16%;
    }
    @include media-breakpoint-up(xl){
      top: 21%;
    }
    z-index: 4;
    h1 {
      font-size: 8vw;
      @include media-breakpoint-up(md){
        font-size: 6vw;
      }
      @include media-breakpoint-up(xl){
        font-size: 5.5rem;
      }
    }
    h2 {
      background-image: linear-gradient(90deg, transparent, rgba(0,0,0,1), transparent);
      display: inline-block;
      padding: .25rem 5rem;
      font-size: 5vw;
      @include media-breakpoint-up(sm){
        font-size: 3.3vw;
      }
      @include media-breakpoint-up(xl){
        font-size: 2.2rem;
      }
    }
  }
  &__left-frame,
  &__right-frame {
    z-index: 2;
  }
  &__left-frame { 
    width: 11%;
    bottom: 10.5%;
    left: -100%;
    &.animate {
      left: 0;
      transition: all 3s ease-out;
    }
  }
  &__right-frame{
    width: 17%;
    right: -100%;
    bottom: 12%;
    &.animate {
      right: 0;
      transition: all 3s ease-out;
    }
  }
  &__rider {
    width: 17%;
    left: 25%;
    z-index: 3;
    bottom: -100%;
    &.animate {
      bottom: 0;
      transition: all 1.5s ease-out 2.5s;
    }
  }
}
.pin {
  z-index: 4;
  &-3 {
    left: 40%;
    top: 1.2%;
  }
  &-2 {
    left: 35%;
    top: 5.5%;
  }
  &-1 {
    left: 30%;
    top: 12%;
  }
  &.animate {
    @include media-breakpoint-up(xl){
      opacity: 1;
      transition: opacity .5s ease-out;
      perspective: 100px;
      .pin__text {
        animation: pin-swing 1s ease-out .5s;
      }
      @keyframes pin-swing {
        0% {
          transform-style: preserve-3d;
          transform: rotateX(-20);
        }
        20% {
          transform-style: preserve-3d;
          transform: rotateX(20deg);
        }
        40% {
          transform-style: preserve-3d;
          transform: rotateX(-10deg);
        }
        60% {
          transform-style: preserve-3d;
          transform: rotateX(5deg);
        }
        80% {
          transform-style: preserve-3d;
          transform: rotateX(-2deg);
        }
        100% {
          transform-style: preserve-3d;
          transform: rotateX(0deg); 
        }
      }
    }
  }
}
